# Supabase Database Connection URL
DATABASE_URL=your-secret-key-here

# Supabase Public API Keys
NEXT_PUBLIC_SUPABASE_URL=your-secret-key-here
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-secret-key-here

# Resend API Key
RESEND_API_KEY=your-secret-key-here
